@model PaginatedList<VideoAllViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="row justify-content-center">
    <h1 class="text-primary"><strong>Videos</strong></h1>
</div>
<hr class="hr-chess" />
<div class="row">

    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="row justify-content-center">
                <h3 class="text-primary">@Model[i].Title</h3>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="@Model[i].Link" allowfullscreen></iframe>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="mt-2">
                    @if (!(Model[i].IsInFavourites))
                    {
                        <i id="@Model[i].Id" class="far fa-star fa-3x text-warning getHover"></i>
                    }
                    else
                    {
                        <i id="@Model[i].Id" class="fas fa-star fa-3x text-warning getHover"></i>
                    }
                </div>
            }
        </div>

    }
</div>

@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : ""; }
<div class="row mt-3">
    <nav class="col d-flex justify-content-center" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a asp-action="AllVideos"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn page-link btn-default @prevDisabled">
                    &laquo;
                </a>
            </li>
            @if (Model.TotalPages > 1)
            {
                for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if (Model.PageIndex == i)
                    {
                        <li class="page-item active">
                            <a class="page-link" asp-action="AllVideos"
                               asp-route-pageNumber="@i"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="AllVideos"
                               asp-route-pageNumber="@i"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                        </li>
                    }
                }
            }
            <li class="page-item">
                <a asp-action="AllActiveGames"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn page-link btn-default @nextDisabled">
                    &raquo;
                </a>
            </li>
        </ul>
    </nav>
</div>

<partial name="_AddToFavoritesModalPartial" />
<partial name="_RemoveFromFavoritesModalPartial" />

@section Scripts{
    <script src="~/js/add-to-favorites-index.js"></script>
}